.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
data/embeddings-s-model.bin
data/embeddings-s-model.bin:Zone.Identifier
scripts/__pycache__/git 
scripts/__pycache__/helpers.cpython-39.pyc
scripts/reportes/
token_tesis.txt
scripts/__pycache__/
tareas_pendientes
replication_material/
papers/
tesis/cuadros/